.gitignore
.Rproj.user
.Rhistory
.RData
.Ruserdata
Bild.Rproj
data
log.txt
**\_emb_models
pres/Presentation_cache
**\old
paper/Manuscript_commented.pdf
!**\trendplot-1.svg
paper/nul
paper/Manuscript_Framing.log
