.gitignore
.Rproj.user
.Rhistory
.RData
.Ruserdata
Bild.Rproj
data
log.txt
pres/Presentation_cache
paper/Manuscript_commented.pdf
paper/nul
paper/Manuscript_Framing.log
*.RData
*.rdb
*.rdx
**/_emb_models
**/old
**_files**
**_cache**
**_commented.pdf
!**\trendplot-1.svg
paper/Manuscript_Framing_jyb_comments.pdf
paper/Manuscript_Framing_TM_comments.pdf
library